body {
  margin: 0;
  background-color: #0E0F11;
  color: #F2F2F2;
  font-family: Arial, sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 96px;
  margin: 0;
  color: #7DD3FC;
}

p {
  margin-top: 10px;
  letter-spacing: 4px;
  opacity: 0.7;
}
