body {
  margin: 0;
  background-color: #0E0F11; /* Dunkles Weltall */
  color: #A855F7;
  font-family: Arial, sans-serif;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 96px;
  margin: 0 0 10px 0;
  color: #A855F7;
  text-shadow: 0 0 10px #A855F7;
}

p {
  margin: 0;
  letter-spacing: 4px;
  opacity: 0.9;
  color: #A855F7;
  text-shadow: 0 0 6px #A855F7;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  background-color: #1F1F2E;
  color: #A855F7;
  border: 2px solid #A855F7;
  border-radius: 6px;
}

button:hover {
  background-color: #A855F7;
  color: #0E0F11;
}

#boidsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
h1, p {
  position: relative;
  z-index: 1;
}
