body {
  margin: 0;
  background-color: #0E0F11;
  color: #F2F2F2;
  font-family: Arial, sans-serif;
  height: 100vh;

  display: flex;
  flex-direction: column;       /* stapelt Kinder untereinander */
  justify-content: center;      /* zentriert vertikal */
  align-items: center;          /* zentriert horizontal */
  text-align: center;
}

h1 {
  font-size: 96px;
  margin: 0 0 10px 0;           /* Abstand nach unten für "FOCUS" */
  color: #7DD3FC;
}

p {
  margin: 0;
  letter-spacing: 4px;
  opacity: 0.7;
}
