/* Body & Layout */
body {
  margin: 0;
  background-color: #0E0F11;
  color: #F2F2F2;
  font-family: Arial, sans-serif;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Timer */
h1 {
  font-size: 96px;
  margin: 0 0 10px 0;
  color: #7DD3FC;
}

/* Text */
p {
  margin: 0;
  letter-spacing: 4px;
  opacity: 0.7;
}

/* Buttons */
button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1; /* über Boids */
  position: relative;
}

/* Boid Canvas */
#boidsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* hinter allem */
}
h1, p {
  position: relative;
  z-index: 1; /* über Boids */
}
